body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

#app {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #dddddd;
}

#designs {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}